/Abstract/Abstract_TA.aux
/Abstract/Abstract_TA.log
/Abstract/Abstract_TA.pdf
/Abstract/Abstract_TA.synctex.gz
/Abstract/texput.log
/Conference_Paper/measurementQuality-eps-converted-to.pdf
/Conference_Paper/Path-eps-converted-to.pdf
/Conference_Paper/template.aux
/Conference_Paper/template.log
/Conference_Paper/template.out
/Conference_Paper/template.pdf
/Conference_Paper/template.synctex.gz
/Conference_Paper/WalkAcceleration-eps-converted-to.pdf
